 html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix {
  overflow:hidden;
}

body {
		background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 350;
		color: #595959;
		text-align: center;
		font-size: 14pt;
	}

	h1, h2, h3 {
		color: #555;
		text-transform: uppercase;
		text align:center;
	}

	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 25px;
	}

	p {
		line-height: 1.5em;
	}

	header {
		margin-bottom: 1em;
	}

  .logo{
   left: 0;
   top: 1em;
   bottom: 10em;
   text-align:left;
   display:block;
   float:left;
  }

/*	.container {
		margin-left: auto;
		margin-right: auto;
		width: 960px;
		width: 1200px;
	}*/

	#nav {
    float:right;
    margin-right:2em;
    margin-top:1em;
			/*	position: absolute;
				right: 0;
				top: 1em;
				right: 4em;
				cursor: default;*/
			}

				#nav > ul {
					display: inline-block;
				}

					#nav > ul > li {
						display: inline-block;
						text-align: center;
						margin-left: 0.5em;
					}

						#nav > ul > li > a, #nav > ul > li > span {
							display: block;
							padding: 0.65em 1.25em;
							text-decoration: none;
							font-size: 1em;
							font-weight: 00;
							outline: 0;
							color: #555;
							border-radius: 5px;
						}

						#nav > ul > li:hover > a, #nav > ul > li:hover > span {
							background: #77C6CB;
						}

						#nav > ul > li.active > a, #nav > ul > li.active > span {
							background: #E5E5E5;
						}

						#nav > ul > li.current_page_item > a, #nav > ul > li.current_page_item > span {
							background: #77C6CB;
							color: #FFF;
							font-weight: 600;
						}

ul{
	text-align: left;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

button.control_prev, button.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  outline:none;
  border:0;
}

button.control_prev:hover, button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.6s ease;
}

button.control_prev {
	left: 0;
  border-radius: 2px 0 0 2px;
}

button.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


	
footer {
		margin-top: 2em;
	}

	.centered {
		text-align: center;
	}


	.button {
		display: inline-block;
		background: #77C6CB;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		color: #FFF;
		font-weight: 600;
	}

		.button:hover {
			background: #87D6DB;
		}

		.button:active {
			background: #67B6BB;
		}

	.wrapper {
		position: relative;
		border-bottom: 1px solid #e5e5e5;
	}

	.button {
				padding: 0.85em 2em;
				min-width: 14em;
			}

			#header-wrapper {
				padding: 1em 0 0 0;
			}

			.homepage #header-wrapper {
				padding: 5em 0 1em 0;
			}

			.wrapper {
				padding: 1em 0 3em 0;
			}

.footer-social { 
	float: center; margin-top:5px;
}
.footer-social li { 
	display: inline;
}
.footer-social span { 
	margin-top: -20px;
}

    .wrap {
      overflow: hidden;
      margin: 10px;
    }
    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
    }
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
    .boxInner img {
      width: 100%;
    }
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    div.no-touch .boxInner:hover .titleBox, div.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

  @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }
   
			


